body {
    font-family: cursive;
    background-color: antiquewhite;
    margin:0;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

section img {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 6px;
}

footer {
    text-align: center;
    padding: 15px;
    color: #555;
}

.gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input, button{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

img { 
    max-width: 100%;
    min-height: auto;
}

